body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0ca2bd;
    margin: 0;
    padding: 0;
}
img {
    width: 150px;
    margin-bottom: 20px;
}
h1 {
    color: #000000;
}
p {
    color: #000000;
}